@import 'node_modules/ol/ol.css';

html,
body {
	margin: 0;
	height: 100%;
}
#map {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
}
.button-area {
	display: block;
	position: absolute;
	top: 5rem;
	left: 0.5rem;
	padding: 10px;
	background-color: rgba(128, 128, 128, 0.5);
	border-radius: 4px;
}
.button-area > div {
	margin: 0.5rem 0;
}
.button-area button {
	width: auto;
	padding: 3px;
	display: block;
	margin: 10px 5px;
	font-weight: bold;
	text-decoration: none;
	font-size: inherit;
	text-align: center;
	height: 1.375em;
	line-height: 0.4em;
	border: none;
	border-radius: 2px;
}
/* toggle switches */
.toggle {
	margin-top: 10px;
}
.toggle input[type='checkbox'] {
	height: 0;
	width: 0;
	display: none;
}
.toggle label {
	position: relative;
	left: 50px;
}
.toggle input[type='checkbox'] + label::before {
	content: ' ';
	display: block;
	height: 20px;
	width: 40px;
	border-radius: 16px;
	border: 1px solid darkgray;
	position: absolute;
	top: 0px;
	left: -50px;
	background: whitesmoke;
}
.toggle input[type='checkbox'] + label::after {
	content: ' ';
	display: block;
	height: 16px;
	width: 16px;
	border-radius: 100%;
	position: absolute;
	top: 3px;
	left: -46px;
	background: yellowgreen;
	transition: all 0.3s ease-in;
}
.toggle input[type='checkbox']:checked + label::after {
	left: -28px;
	transition: all 0.3s ease-in;
}
/* Popup */
.ol-popup {
	position: absolute;
	background-color: white;
	box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #cccccc;
	bottom: 12px;
	left: -50px;
	min-width: 280px;
}
.ol-popup:after,
.ol-popup:before {
	top: 100%;
	border: solid transparent;
	content: ' ';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}
.ol-popup:after {
	border-top-color: white;
	border-width: 10px;
	left: 48px;
	margin-left: -10px;
}
.ol-popup:before {
	border-top-color: #cccccc;
	border-width: 11px;
	left: 48px;
	margin-left: -11px;
}
.ol-popup-closer {
	text-decoration: none;
	position: absolute;
	top: 2px;
	right: 8px;
}
.ol-popup-closer:after {
	content: '✖';
}
